* {
    margem :  0 ;
    preenchimento :  0 ;
}

. cabecalho {
    cor de fundo :  # 424E61 ;
    cor : branco;
    exibição : flexível;
    justificar-conteúdo : espaço ao redor;
    itens de alinhamento : centro;
    preenchimento :  24 px  0 ;
}

. cabecalho-imagem {
    largura :  20 % ;
}

. cabecalho-lista-item {
    exibição : bloco em linha;
    margem :  0  16 px ;
    tamanho da fonte :  24 px ;
}
